@import url(https://fonts.googleapis.com/css?family=Open+Sans);

nav {
    float: left;
}

body {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
	max-width:1024px;
	margin: 0 auto;
	height: 100%;
}

#index-paragraphs {
    color: rgb(197, 252, 197);
    text-shadow: rgba(32, 97, 32, 0.63) 5px;
    font-weight: 800;
}

h1 {
	font-size: 48px;
	text-align: center;
    padding-bottom: 18px;
    font-weight: bold;
    color: rgb(197, 252, 197);
    text-shadow: rgba(32, 97, 32, 0.63) 5px;
    font-weight: 800;
}

h2 {
    font-size: 28px;
    padding: 18px;
    text-align: center;
    margin: auto;
    color: rgb(197, 252, 197);
    text-shadow: rgba(32, 97, 32, 0.63) 5px;
    font-weight: 800;
}

h3 {
    margin: 1.25em;
    color: rgb(197, 252, 197);
    text-shadow: rgba(32, 97, 32, 0.63) 5px;
    font-weight: 800;
}

p { 
    line-height: 1.5em;
    margin: 1.5em;
    
}

#card-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 90%;
    height: 100%;
    margin: 5px;
    text-align: center;
    margin: auto;
}

.fish-cards {
    width: 20%;
    margin: auto;
    padding: 3.5%;
    justify-content: center;
}

/* IMAGES WITH IN CARDS */
.fish-cards > img {
    width: 100%;
    opacity: .7;
}

img:hover {
    opacity: 1;
}

 /* LINK SELECTORS */
a:link{
    color: rgb(161, 253, 143);
    text-shadow:  rgba(161, 253, 143, 0.164) 5%;
    text-decoration: none;
    font-size: 20px;
}

a:visited {
    color: rgb(255, 167, 5);
    background-color: rgba(255, 168, 5, 0.555);
}

a:hover {
   background: rgba(43, 199, 238, 0.103); 
   color: rgb(238, 161, 59);
}

a:active {
    color: rgb(10, 195, 252);
}
/*might use dont delete yet */
#add-fish {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    padding-bottom: 25px;
    width: 100%;
	max-width:1024px;
	margin: 0 auto;
	height: 100%;
}  

 #species-name-show {
     margin: auto;
     text-shadow: gold;
 }

 #scientific-name {
    font-style: italic;
 }

 #habitat, #location {
     line-height: 1.5em;
     margin: 3em;
     /* background-color: lightcyan;
     opacity: 2; */
 }

 .show-page {
    width: 100%;
	max-width:1024px;
	margin: 0 auto;
	height: 100%;
    background: url(https://images.unsplash.com/photo-1505142468610-359e7d316be0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=881&q=80) center;
    background-repeat: no-repeat;
    background-size: cover;
 }

 /* .fish-container {
     color: rgb(156, 83, 83);
     text-shadow: rgb(233, 173, 173);
 } */

 .home-page {
    background: url(https://images.unsplash.com/photo-1488953994029-e6a7ba3348f7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1234&q=80) center;
    background-repeat: no-repeat;
    background-size: cover;
 }

 /* Create FISH */

.create-fish {
    border: 2px solid #00B4CC;
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    border-radius: 6px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 194px;
    height: 3px;
    padding: 8px;
    font-size: small;
    margin-right: -2px;
    padding: 12px;
} 

.fish-input {
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 200px;
    height: 10px;
    padding: 5px;
    border: solid 1px transparent;
} 

/* Submit Button*/

.main {
    width: 213px;
    border-radius: 6px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    padding-right: 9px;
    margin-top: 10px;
  }

.submit-button {
    background: #00B4CC;
    font-weight: 300;
    color: #fff;
    line-height: 22px;
    border: solid 1px transparent;
} 

/* Search Bar */



.search {
    /* width: 100%;
    position: absolute;
    top: 47%;
    height: 17%;
    display: flex; */
    display: flex;
    flex-direction: column;
    width: 37%;
	max-width:1024px;
	margin: 0 auto;
}

.searchTerm {
    width: 100%;
	max-width:1024px;
	margin: 0 auto;
    height: 100%;
    text-align: center;
    border-radius: 6px;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
    width: 50%;
    text-align: center;
    height: 26px;
    border-radius: 6px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    margin: auto;
    margin-top: 10px;
    color: #fff;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
    display: flex;
    flex-direction: row;

}