

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}  */
/* HTML5 display-role reset for older browsers */ 
/* article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}  */
/* End of Reset */


nav {
    float: left;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
	max-width:1024px;
	margin: 0 auto;
	height: 100%;
}

h1 {
	font-size: 48px;
	text-align: center;
    padding-bottom: 18px;
	font-weight: bold;
}

h2 {
    font-size: 28px;
    padding: 18px;
    text-align: center;
    margin: auto;
}

h3 {
    margin: 1.5em;
}

p { 
    line-height: 1.5em;
	margin: 1.5em;
}

#card-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 90%;
    height: 100%;
    margin: 5px;
    text-align: center;
    margin: auto;
}

.fish-cards {
    width: 20%;
    margin: auto;
    padding: 3.5%;
    justify-content: center;
}

/* IMAGES WITH IN CARDS */
.fish-cards > img {
    width: 100%;
    opacity: .8;
}

img:hover {
    opacity: 1;
}

 /* LINK SELECTORS */
a:link{
    color: rgba(12, 2, 2, 0.623);
    text-decoration: none;
    font-size: large;
}

a:visited {
    color: black;
}

a:hover {
   background: rgba(128, 128, 128, 0.103); 
}

a:active {
    color: rgb(238, 161, 59);
}

/* form {
    display: flex;
    flex-direction: row;
    width: 300px;
    padding: 20px;
    padding-bottom: 25px;
} 

input[type=text] {
    border: black solid 1px;
    padding: 5%;
    text-align: center;
  }

.submit-button {
    border: 1px solid grey;
    width: 100px;
 }  */

 #species-name-show {
     margin: auto;
     text-shadow: gold;
 }

 #scientific-name {
    font-style: italic;
 }


 #habitat, #location {
     line-height: 1.5em;
     margin: 3em;
     /* background-color: lightcyan;
     opacity: 2; */
 }

 .show-page {
    width: 100%;
	max-width:1024px;
	margin: 0 auto;
	height: 100%;
    background: url(https://images.unsplash.com/photo-1505142468610-359e7d316be0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=881&q=80) center;
    background-repeat: no-repeat;
    background-size: cover;
 }

 .fish-container {
     /* color: rgb(156, 83, 83);
     text-shadow: rgb(233, 173, 173); */
 }

 .home-page {
    background: url(https://images.unsplash.com/photo-1440227537815-f4476b789291?ixlib=rb-1.2.1&auto=format&fit=crop&w=2551&q=80) center;
    background-repeat: no-repeat;
    background-size: cover;
 }



 /* Create FISH */
 form {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 50px;
    padding: 10px;
   
} 

.space {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 194px;
    height: 1px;
    padding: 8px;
    font-size: small;
    margin-right: 26px;
    
} 

.create-fish {
    border: 2px solid #00B4CC;
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    border-radius: 6px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 194px;
    height: 3px;
    padding: 8px;
    font-size: small;
    margin-right: -2px;
    padding: 12px;
    
} 

.fish-input {
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 200px;
    height: 10px;
    padding: 5px;
    
} 

/* Submit Button*/

.main {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 213px;
    height: 26px;
    border-radius: 6px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    border: solid 1px transparent;
    color: #fff;
    padding-left: 9px;
    padding-right: 9px;
    font-size: 10px;
    font-weight: 300;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 18px;
    
  }
.submit-button {
    background: #00B4CC;
    font-size: 10px;
    font-weight: 300;
    color: #fff;
    line-height: 22px;
    
} 

/* Search Bar */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
  }

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}